<h2>设置［目录］属性</h2>

<% remote_form_for(@pm_folder) do |f| %>
	<h1>添加<%=  @pm_folder.parent.root? ?  "模块" : "目录" %></h1>
  <%= f.hidden_field "parent_id"%>
  <%= render :partial => "form", :locals => {:f => f} %>
  <p>
    <%= f.submit 'Create' %>
  </p>
	<%= link_to 'Back', pm_folders_path %>
<% end %>

